<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: header"></head>
<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <section class="panel panel-transparent">
                                <div class="panel-body">
                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- ------------------------TABLE START----------------------------- -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Archived Projects</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <thead>
                                            <tr>
                                                <th scope="col">Project </th>
                                                <th scope="col">Task Subject</th>
                                                <th scope="col">Assigned Employee</th>
                                                <th scope="col">Assigned Date</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="task : ${tasks}">
                                                <td th:text="${task.project.projectCode+'-'+task.project.projectName}" />
                                                <td th:text="${task.taskSubject}" />
                                                <td th:text="${task.assignedEmployee.firstName +' '+ task.assignedEmployee.lastName}" />
                                                <td th:text="${#temporals.format(task.assignedDate, 'MM/dd/yyyy')}" />
                                                <td th:text="${task.taskStatus.value}" /> </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- ------------------------TABLE END----------------------------- -->
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>