<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: header"></head>
<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <div class="ecommerce-widget">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task Status</h2>
                                </header>
                                <div class="panel-body">
                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form id="needs-validation" novalidate th:action="@{/task/employee/update/{id}(id=${task.id})}" method="post" th:object="${task}">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Project</label>
                                                    <select  th:field="*{project}" class="custom-select" disabled>
                                                        <!--                                                            <option th:value="''" th:text="Select"></option>-->
                                                        <option th:each="p : ${projects}" th:value="${p.projectCode}" th:text="${p.projectCode+'-'+ p.projectName}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Assigned Employee</label>
                                                    <select  th:field="*{assignedEmployee}"  class="custom-select" disabled>
                                                        <!--                                                            <option th:value="''" th:text="Select"></option>-->
                                                        <option th:each="u : ${users}" th:value="${u.userName}" th:text="${u.firstName +' '+ u.lastName}"
                                                        ></option>
                                                    </select>
                                                    <div class="invalid-feedback">Please choose employee</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Task Subject</label>
                                                            <input type="text"  th:field="*{taskSubject}" class="form-control" aria-describedby="inputGroupPrepend" disabled /> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Detail</label>
                                                            <textarea class="form-control" rows="3" th:field="*{taskDetail}" aria-describedby="inputGroupPrepend" disabled ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select name="taskStatus" class="custom-select" required >
                                                        <option th:value="''" th:text="Select"></option>
                                                        <option th:each="s : ${statuses}" th:value="${s}" th:text="${s.value}" th:selected="${s == task.taskStatus}"></option>
                                                    </select>
                                                    <div class="invalid-feedback">Please choose Status</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-xs-12">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- ------------------------TABLE START----------------------------- -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Task List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Project </th>
                                                <th scope="col">Task Subject</th>
                                                <th scope="col">Assigned Employee</th>
                                                <th scope="col">Assigned Date</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">#Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="task : ${tasks}">
                                                <td th:text="${task.project.projectCode +'-'+task.project.projectName}"></td>
                                                <td th:text="${task.taskSubject}"></td>
                                                <td th:text="${task.assignedEmployee.firstName +' '+ task.assignedEmployee.lastName}"></td>
                                                <td th:text="${#temporals.format(task.assignedDate, 'MM/dd/yyyy')}"></td>
                                                <td th:text="${task.taskStatus}"></td>
                                                <td><a class="btn btn-warning rounded-0" th:href="@{/task/employee/edit/{id}(id=${task.id})}">Update</a> </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- ------------------------TABLE END----------------------------- -->
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer :: footer"></div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>